{% extends 'home/base.html' %}

{% block title %} Register {% endblock %}

{% block content %}
    <div class = "container">
        <form method = "POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldsets class = "form-group">
                <legend class = "border-bottom mb-4"> Delete News Article </legend>
                <h2> Are you sure you want to Delete "{{ object.title }}"? </h2>
                <hr>
                <div class = "form-group d-flex justify-content-end">
                    <button class = "btn btn-outline-danger" type="submit"> Yes, Delete </button>
                    <a class = "btn btn-outline-sec" href="{% url 'article-detail' object.id %}"> Cancel </a>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}  