{% extends 'home/base.html' %}

{% block content %}
    <div class = "container">
        <form method = "POST">
            {% csrf_token %}
            <fieldsets class = "form-group">
                <legend class = "border-bottom mb-4"> Delete Player </legend>
                <h2> Are you sure you want to delete this player, "{{object.player_name}}"? </h2>
            </fieldsets>
            <div class = "form-group">
                <button class = "btn btn-outline-danger" type="submit"> Yes, Delete </button>
            </div>
        </form>
    </div>
{% endblock %}