{% extends 'home/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Register {% endblock %}

{% block content %}
    <div class = "content-section">
        <form method = "POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldsets class = "form-group">
                <legend class = "border-bottom mb-4"> Player Profile </legend>
                {{ form|crispy }}
                <div class = "form-group">
                    <button class = "btn btn-outline-info" type="submit"> Create/Update </button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}