{% extends "home/base.html" %}

{% block content %}

	<h1> T E A M &nbsp P R O F I L E S </h1>
    <hr>
		<a class = "btn btn-outline-secondary" href="{% url 'team-create' %}"> Create Team </a>
	<a class = "btn btn-outline-secondary" href="{% url 'player-create' %}"> Create Player </a>
	<hr>
	<br>
	{% for item in teams %}
		<article class="media content-section">
			<div class="media-body">
				<table style = "width: 100%">
					<tr>
						<th> <img class="img-thumbnail" src="{{ MEDIA_URL }}{{item.image.url}}" width="100" height="100"> </th>
						<th> <h1><a class="article-title" href="{% url 'team-detail' item.id %}">{{item.teamName}}</a></h1> </th>
					</tr>
				</table>
			</div>
		</article>
	{% endfor %}
{% endblock content %}